<li id="event-<%= event.id %>">
  <span class="user"><%#= link_to event.user.name, event.creator %></span>
  <span class="title">
    <%= event.title %>
  </span>
  by <span class="author">
    <%= event.creator_id %>
  </span>
</li>