<% provide(:title, 'All events') %>
<h1>All events</h1>

<%= will_paginate %>

<ul class="events">
  <% @events.each do |event| %>
    <li>
      Event: 
      <%= link_to event.title, event %>
      Created by: 
			<%= @user.find_by(:id => event.creator_id).name %>
    </li>
  <% end %>
</ul>


<%= will_paginate %>